.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.section-heading {
	position: relative;
	padding: 0.5em 0;
	// font-size: 2.4rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: #000;
	letter-spacing: 4px;
}
